<!-- sidebar starts -->
<!-- <div class="sidebar">
  <i class="fab fa-twitter"></i>
  <div class="sidebarOption" routerLinkActive="active" [routerLink]="['tweets']">
    <span class="material-icons"> home </span>
    <h2>Home</h2>
  </div>

  <div class="sidebarOption" routerLinkActive="active" [routerLink]="['users']">
    <span class="material-icons"> search </span>
    <h2>Explore</h2>
  </div>

  <div class="sidebarOption" routerLinkActive="active" [routerLink]="['mytweets/user/', userId]">
    <span class="material-icons"> list_alt </span>
    <h2>My Tweets</h2>
  </div>

  <div class="sidebarOption" routerLinkActive="active" [routerLink]="['my-profile/', userId]">
    <span class="material-icons"> perm_identity </span>
    <h2>Profile</h2>
  </div>

  <div class="sidebarOption" (click)="onLogout()">
    <span class="material-icons"> logout </span>
    <h2>LogOut</h2>
  </div>
</div> -->
<!-- sidebar ends -->

<!-- Navbar starts-->
<nav class="navbar sticky-top navbar-dark " style="background: #151E3d;">
  <!-- Navbar content -->
  <div class="navbar-brand" routerLinkActive="active" [routerLink]="['tweets']" style="margin-left: 40px;">
    <img src="https://th.bing.com/th/id/OIP.TA6DEvVm_kkecdYcqhlz5AAAAA?pid=ImgDet&rs=1" width="50" height="auto" style="border-radius: 143px;" alt="">
  </div>
  <div class="row">
    <div class="sidebarOption col" routerLinkActive="active" [routerLink]="['tweets']">
      <span class="material-icons"> home </span>
      <h2>Home</h2>
    </div>
    <div class="sidebarOption col" routerLinkActive="active" [routerLink]="['users']">
      <span class="material-icons"> search </span>
      <h2>Explore</h2>
    </div>
  
    <div class="sidebarOption col" routerLinkActive="active" [routerLink]="['mytweets/user/', userId]">
      <span class="material-icons"> list_alt </span>
      <h2 style="white-space: nowrap;">My Tweets</h2>
    </div>
    <div class="sidebarOption col" routerLinkActive="active" [routerLink]="['my-profile/', userId]">
      <span class="material-icons"> perm_identity </span>
      <h2>Profile</h2>
    </div>
  
    <div class="sidebarOption col" (click)="onLogout()">
      <span class="material-icons"> logout </span>
      <h2>LogOut</h2>
    </div>
  </div>
  
</nav>