
<div class="container reset-form" *ngIf="!isValid">
    <div class="tweet_bird" style=" text-align: center; margin:60px;">
        <img style=" height: 35px;" src="../../../assets/bird logo.png" >
    </div>
    <div class="heading" style="margin-bottom: 60px; text-align: center;">
        <h2 style=" font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 900;">Reset Your Password</h2> 
    </div>
    <div class="paragraph" style="margin-bottom: 35px;">
        <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><strong>Lost your Password ?</strong> Enter your User Id and select the security question and answer correctly, then we will rediret you to change your password page.</p>
    </div>
    <form #verify="ngForm" (ngSubmit)="onSubmit(verify)">
        <div class="row">
            <div class="col" >
                <input
                type="text" 
                class="form-control" 
                placeholder="Enter UserID Or EmailID" 
                required
                name="email"
                email
                ngModel
                #email="ngModel">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <select class="form-select" 
                        required 
                        name="question"
                        ngModel
                        #question="ngModel"
                        >
                    <option value="" disabled> - Select Security Question - </option>
                    <option *ngFor="let option of options" [value]="option.key">{{ option.value }}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Security Selected Question's Answer" 
                    required
                    name="answer"
                    ngModel
                    #answer="ngModel">
            </div>
            <!-- <div class="col">
                <button type="submit" class="btn btn-dark" [disabled]="!verify.valid">Confirm and Verify</button>
            </div> -->
        </div>
        <div class="verify" style="margin-top: 30px; text-align: end;">
            <button type="submit" class="btn btn-dark" [disabled]="!verify.valid">Confirm and Verify</button>
        </div>
    </form>
</div>

<div class="container reset-form" *ngIf="isValid && !isPasswordResetSuccessfull">
    <div class="alert alert-success" role="alert">
        Verification Successfully Completed! Please Reset Your Password!
      </div>
    <form #resetPassword="ngForm" (ngSubmit)="onReset(resetPassword)">
        <div class="row">
            <div class="col">
                <input 
                    type="password"
                    class="form-control" 
                    placeholder="Enter New Password" 
                    required
                    name="password"
                    ngModel
                    #password="ngModel">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input 
                    type="password" 
                    class="form-control" 
                    placeholder="Confirm password" 
                    required
                    name="confirmPassword"
                    ngModel
                    #confirmPassword="ngModel"
                    >
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin: 6px; text-align: end;">
                <button type="submit" class="btn btn-dark" [disabled]="!resetPassword.valid">Change Password</button>
            </div>
        </div>
    </form>
</div>
<div class="alert alert-success" role="alert" *ngIf="isPasswordResetSuccessfull">
    Password successfully changed!
</div>